<h1>Gizmos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @gizmos.each do |gizmo| %>
      <tr>
        <td><%= gizmo.id %></td>
        <td><%= link_to gizmo.name, gizmo_path(gizmo) %></td>
        <td><%= gizmo.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_gizmo_path(gizmo), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', gizmo_path(gizmo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_gizmo_path, :class => 'btn btn-primary' %>
