<h1> Ticket Info </h1>
<p>
  <b>User name:</b> <%= @ticket.user.email %>
</p>
<p>
  <b>name:</b> <%= @ticket.name %>
</p>
<p><b>Description:</b></p>
<div>
  <%= @ticket.description %>
</div>

<div class="well">
<h3> History </h3>
<table class="table table-striped">
<% @histories.each do |h| %>
  <tr>
    <td> <%= h.description %></td>
    <td> <%= h.user.email %></td>
    <td> <%=l h.updated_at %></td>
    <td> <%= h.state %></td>
    <td> <%= h.auto %></td>
  </tr>
<% end %>
</table>
</div>

<%= form_for [@ticket, @ticket.histories.build], :method=> :post, :html => { :class => 'well' } do |f| %>
  <h3> Add  more Info</h3>
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area span8', :rows=>2 %>
      </div>
      <%= f.submit "Add to History", :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>

<hr/>
<%= link_to 'Back',  get_home_path :class=> 'btn btn-primary' %>
