<h1><%= @user.email %></h1>
<p> Ειμαι χρήστης <%= @user.role %></p>
<h2> Η Εργασία μου</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Περιγραφή</th>
      <th>Κατάσταση</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%=link_to t.name, ticket_path(t) %></td>
        <td><%=truncate t.description, :length => 25, :omission => '...' %></td>
        <td><%= t.state %></td>
        <td><%=l t.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>